form{
    display: flex;
    justify-content: center;
    column-gap: 2vw;
}
form div{
    display: flex;
    column-gap: 5px;
}

h1{
    text-align: center;
    margin-top: 0;
    padding-top: 3vh;
}

.container_head{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
    padding-bottom: 3vh;
}
body{
    padding: 0;
    margin: 0;
}
.alerts{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
}
.wallet_button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.walletInput{
    width: 60%;
}